
h1, h2, h3, h4, h5, h6 {
    color: #A294F9;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar.navbar-dark .navbar-brand {
    color: #A294F9;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav .nav-item .nav-link {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.custom-badge-border {
    border-color: #A294F9 !important; /* Replace with your custom color hex code */
    border-width: 2px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic; /* Optional: Makes the custom border slightly thicker and more visible */
}

.body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.custon-btn-style {
    border-color: #A294F9 !important; /* Replace with your custom color hex code */
    border-width: 2px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic; 
}